#select-state {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20%;
}

body {
  margin-left: 20px;
  padding-bottom: 30px;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 30px;
}
#column{
  font-size: 18px;
}
#introduction{
  font-size: 18px;
}
.button{
  font-size: 18px;
  font-family: Monospace;
  
}

.tooltip {
  position: fixed;
  display: none;
  color: white;
  background-color: grey;
}